body {
    margin: 0;
    padding: 0;
}

.background {
    background-color: #f0f8ff; /* Light Blue */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color: #333;
}

.info-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.info-box h2 {
    font-size: 20px;
    color: #333;
}

.info-box p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.info-box ul {
    list-style: none;
    padding: 0;
}

.info-box li {
    margin-bottom: 10px;
}

.info-box h3 {
    font-size: 18px;
    color: #333;
}
