.notification-card {
    margin-bottom: 10px;
}

.emergency-card {
    background-color: #f8d7da;
    /* Red background color */
}

.help-card {
    background-color: #ffc300;
}

.nohelp-card {
    background-color: aquamarine;
}